footer {
    background-color: #191919;
    height: 100px;
    color: #757272;
    .row {
        > div{
            text-align: center;
            padding-top: 30px;

            &:nth-child(1){
                padding: 0;
            }
        }
        img {
            height: 100px;
        }
    }
}