header {
    .navbar {
        border-radius: 0;
        .container {
            height: 90px;
        }
        background: none;
        background-color: #191919;
        border: none;
        height: 90px;
        .navbar-nav {
            li {
                    line-height: 90px;
                a {
                    color: white;
                    padding: 0 15px;
                    margin: 35px 0;
                    text-shadow: none;
                    &:hover {
                        color: #757575;
                    }
                }
            }
        }
        .navbar-header {
            height: 90px;
            .navbar-brand {
                height: 100%;
            }
        }
    }
}