@import 'keyFrames';
@import 'values';
@import 'animations';



.partnerzy {
    background-color: black;
    margin-top: 0px;

    .main-hex{
        padding-top: 40px;
    }

    .main-hex,
    .partners-hexes {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        padding-bottom: 70px;
        .hex1 {
            width: $hex-width*.33;
            height: $hex-width*.33;
            padding: 55px 0;
        }
        .hex2,
        .hex3 {
            transform: rotate(60deg);
            display: none;
        }
        .hex {
            background-color: #fff;
            z-index: 100;
            width: $hex-width+10;
            height: $hex-width+10;
            padding: 7vh;
            text-align: center;
            z-index: 1;
        }
    }
    .partners-hex {
        background-color: black;
        height: $partner-hex-width * 1.726;
        width: $partner-hex-width * 1.726;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        .rotation{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 50%;
            border: 1px solid black;
        }

        .hover{
            position: absolute;
            height: $partner-hex-width * 1.726;
            width: $partner-hex-width * 1.726;
            top: 0;
            overflow: auto;
            border: 2px solid black;
        }

        img{
            max-width: 95%;
            max-height: 95%;
        }
    }
    .partners-hexes {
        position: absolute;
        width: 100%;
        top: 110px;
    }
}