.kontakt {
    background-color: black;
    margin-top: 0px;
    padding-bottom: 143px;
    color: white;
    .row{
        margin: 30px 0;
    }
    form {
        margin-left: 10vw;
        margin-top: 10vw;
    }
    .form-control {
        background-color:#1e1d1e;
        border: none;
        margin-top: 30px;
        width: 30vw;
    }
    h4 {
        text-transform: uppercase;
        font-weight: bold;
    }
}