$hexTech: 100vw/8;
.technics {
    width: 100%;
    .print {
        display: inline-grid;
        width: 98vw;
        height: $hexTech*1.49;
        justify-content: center;
        .tech {
            width: $hexTech;
            display: flex;
            margin: 0 $hexTech*.073*-1.1;
            &-name {
                position: absolute;
                width: 13.08571vw;
                height: 12.48571vw;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                z-index: 999999;
            }
            
a{
    transition: .2s ease-in-out;
    &:hover{    
        z-index: 9;
            transform: scale(1.2);
        > img{
            filter: grayscale(0);
            z-index: 99999;
        }
    }
}
            img {
                width: 100%;
                filter: grayscale(1);
                transition: .2s ease-in-out;
            }
        }
        
            .top {
                display: inline-flex;
                align-items: flex-start;
                margin-left: $hexTech*.42;
            }
            .bottom {
                display: inline-flex;
                align-items: flex-end;
                margin-top: $hexTech*.27*-1;
            }
    }
}